.Rproj.user
.Rhistory
.RData
.Ruserdata
References_Seqs
GATK_pipepile
Fastqc
*.ped
*.raw
*.log
*.vcf
*.bim
*.bed
*.fam
*.vcf.idx
*.vcf.gz
*.vcf.gz.tbi
*.map
*.nosex
*.frq
*.strat
*.missing
*.assoc
*.logistic
*.cov
*.eigenval
*.eigenvec
*.irem
*.id
*.html
*.het
*.imiss
*.lmiss
*.idepth
*.mean
*.lqual
*.lasso
*.txt
*.pdf
*.png
*.linear
